@import "../../../pages/dashboard/dashboard.component.scss";

.entity-list-div {
    background-color: var(--whiteColor);
    padding: 25px;
}

.entity-list-div {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    border-radius: 5px;
    padding: 0 25px 0 25px;

    h3 {
        padding: 20px 25px 19px;
        border-bottom: 1px dashed #eeeeee;
        font: {
            size: 17px;
            weight: 600;
        };
        margin: {
            bottom: 25px;
            left: -25px;
            right: -25px;
        };
    }
    .form-group {
        margin-bottom: 25px;
        position: relative;

        label {
            margin-bottom: 12px;
            font-weight: 500;            
        }
        .form-control {
            height: 48px;
            background: #f9f9f9 !important;            
            border-radius: 5px;
            border: 1px solid #e5e7f2 !important;         
        }
    }

}

