<!-- Start Sidemenu Area -->
<div class="sidemenu-area">
    <div class="sidemenu-header">
        <a routerLink="/home" class="navbar-brand d-flex align-items-center">
            <h3>Fantasy</h3>
        </a>
        <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
    </div>
    <div class="sidemenu-body">
        <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
            <li class="nav-item-title">
                Administration
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/user-list" class="nav-link">
                    <span class="icon"><i class='bx bx-user'></i></span>
                    <span class="menu-title">Users</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/role-list" class="nav-link">
                    <span class="icon"><i class='bx bx-user-plus'></i></span>
                    <span class="menu-title">Roles</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/media-list" class="nav-link">
                    <span class="icon"><i class='bx bx-image-alt'></i></span>
                    <span class="menu-title">Media</span>
                </a>
            </li>

            <li class="nav-item-title">
                Admin Management
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/season-list" class="nav-link">
                    <span class="icon"><i class='bx bx-notepad'></i></span>
                    <span class="menu-title">Seasons</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/position-list" class="nav-link">
                    <span class="icon"><i class='bx bx-shape-triangle'></i></span>
                    <span class="menu-title">Positions</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/coach-list" class="nav-link">
                    <span class="icon"><i class='bx bx-user-voice'></i></span>
                    <span class="menu-title">Coaches</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/president-list" class="nav-link">
                    <span class="icon"><i class='bx bx-user-circle'></i></span>
                    <span class="menu-title">Presidents</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/formation-list" class="nav-link">
                    <span class="icon"><i class='bx bx-shape-square'></i></span>
                    <span class="menu-title">Formations</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/referee-list" class="nav-link">
                    <span class="icon"><i class='bx bx-stopwatch'></i></span>
                    <span class="menu-title">Referees</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/stadium-list" class="nav-link">
                    <span class="icon"><i class='bx bx-buildings'></i></span>
                    <span class="menu-title">Stadiums</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/player-list" class="nav-link">
                    <span class="icon"><i class='bx bx-run'></i></span>
                    <span class="menu-title">Players</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/team-list" class="nav-link">
                    <span class="icon"><i class='bx bx-grid'></i></span>
                    <span class="menu-title">Teams</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/league-list" class="nav-link">
                    <span class="icon"><i class='bx bx-list-ol'></i></span>
                    <span class="menu-title">Leagues</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/transfer-list" class="nav-link">
                    <span class="icon"><i class='bx bx-transfer'></i></span>
                    <span class="menu-title">Transfers</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/admin/match-list" class="nav-link">
                    <span class="icon"><i class='bx bx-football'></i></span>
                    <span class="menu-title">Matches</span>
                </a>
            </li>

            <li class="nav-item-title">
                Main
            </li>
            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-messages" class="nav-link">
                    <span class="icon"><i class='bx bx-envelope-open'></i></span>
                    <span class="menu-title">Messages</span>
                    <span class="badge">3</span>
                </a>
            </li> -->
            
            

            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-my-profile" class="nav-link">
                    <span class="icon"><i class='bx bxs-user-circle'></i></span>
                    <span class="menu-title">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/" class="nav-link">
                    <span class="icon"><i class='bx bx-log-out'></i></span>
                    <span class="menu-title">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Sidemenu Area -->