<app-navbar-style-two></app-navbar-style-two>

<!-- Start Listings Details Area -->
<section class="listings-details-area pb-70">
    <div class="listings-details-image">
        <img src="https://media-01.imu.nl/storage/peleus.eu/3248/wp/PSI-Soccer-Background-1920x500.jpg?v=1534780244195" alt="image">
        <div class="container-fluid">
        </div>
    </div>
    <div class="listings-details-nav">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item" role="media">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="false">Team Info</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#result" type="button" role="tab" aria-controls="result" aria-selected="false">Results</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab" aria-controls="table" aria-selected="false">Table</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#transfer" type="button" role="tab" aria-controls="transfer" aria-selected="false">Transfers</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#player" type="button" role="tab" aria-controls="player" aria-selected="false">Players</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">
        <!-- TAB TEAM INFO -->
        <div class="tab-pane fade show active" id="info" role="tabpanel">

            <br>
            <div class="container">
                <div class="row" *ngIf="team">
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="products-details-desc">
                            <div class="products-meta" style="font-size: 20px;">
                                <span>Name: <span class="in-stock">{{team.name}}</span></span>
                                <span>Date of establishment: <span class="in-stock">{{team.dateOfEstablishment}}</span></span>                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="products-details-desc">
                            <div class="products-meta" style="font-size: 20px;">
                                <span>President: <span class="in-stock">{{team.president.name}}</span></span>
                                <span>Coach: <span class="in-stock">{{team.coach.name}}</span></span>
                                <span>Stadium: <a class="in-stock">{{team.stadium.name}}</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12" *ngIf="team.media.media.length > 0">
                        <div class="listings-details-desc">
                            <h3>Gallery</h3>
                            <div id="gallery">
                                <div class="gallery-slides">
                                    <owl-carousel-o [options]="galleryOptions">
                                        <ng-template carouselSlide *ngFor="let media of team.media.media;">
                                            <div class="single-image-box">
                                                <img [src]="media.url" alt="image">
                                            </div>
                                        </ng-template>
                                    </owl-carousel-o>
                                </div>
                            </div>                                                                              
                        </div>                        
                    </div>
                </div>
            </div>      

        </div>
        
        <!-- TAB RESULTS -->
        <div class="tab-pane fade" id="result" role="tabpanel">
            
            <br>
            <div class="container">
                <div class="row" *ngIf="results">
                    
                    <div class="col-lg-12 col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Home Team</th>
                                <th scope="col">Away Team</th>                                
                                <th scope="col">Result</th>
                                <th scope="col">Match Date</th>                                
                                <th scope="col">League</th>
                                <th scope="col">Season</th>
                                <th scope="col">Stadium</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr [routerLink]="['/match-detail', result.matchId]" class="result-row" *ngFor="let result of results | paginate: {id: 'pagination1', itemsPerPage:resultPagination.pageSize, currentPage: resultPagination.currentPage, totalItems: resultPagination.totalCount}">
                                <td>{{result.homeTeamName}} <img *ngIf="result.homeTeamImage" src="{{result.homeTeamImage}}" style="width:50px; height:33px"></td>
                                <td>{{result.awayTeamName}} <img *ngIf="result.awayTeamImage" src="{{result.awayTeamImage}}" style="width:50px; height:33px"></td>                                
                                <td>{{result.result}}</td>
                                <td>{{result.matchDate}}</td>
                                <td>{{result.league}}</td>
                                <td>{{result.season}}</td>
                                <td>{{result.stadium}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="pagination-area text-center">
                            <pagination-controls id="pagination1" (pageChange)="changeResultPage(currentResultPage = $event)"></pagination-controls>
                        </div>
                    </div>
                    
                </div>
            </div> 

        </div>

        <!-- TAB TABLE -->
        <div class="tab-pane fade" id="table" role="tabpanel">
            
            <br>
            <div class="container">
                <div class="row" *ngIf="table">
                    
                    <div class="col-lg-12 col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Team</th>                                
                                <th scope="col">Game Count</th>
                                <th scope="col">Win</th>                                
                                <th scope="col">Draw</th>
                                <th scope="col">Lose</th>
                                <th scope="col">Ratio</th>
                                <th scope="col">Points</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let team of table">                                
                                <td>{{team.sequence}}</td>
                                <td>{{team.teamName}}</td>
                                <td>{{team.gameCount}}</td>
                                <td>{{team.winCount}}</td>
                                <td>{{team.drawCount}}</td>
                                <td>{{team.loseCount}}</td>
                                <td>{{team.goalRatio}}</td>
                                <td>{{team.points}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="pagination-area text-center">
                            <pagination-controls id="pagination1" (pageChange)="changeResultPage(currentResultPage = $event)"></pagination-controls>
                        </div>
                    </div>
                    
                </div>
            </div> 

        </div>

        <!-- TAB TRANSFERS -->
        <div class="tab-pane fade" id="transfer" role="tabpanel">
            
            <br>
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12 col-md-12">
                        <table class="table" *ngIf="transfers">
                            <thead>
                            <tr>
                                <th scope="col">Player</th>
                                <th scope="col">From Team</th>                                
                                <th scope="col">To Team</th>
                                <th scope="col">Transfer Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let transfer of transfers | paginate: {id: 'pagination2', itemsPerPage:transferPagination.pageSize, currentPage: transferPagination.currentPage, totalItems: transferPagination.totalCount}">
                                <td>{{transfer.playerName}} <img *ngIf="transfer.playerImage" src="{{transfer.playerImage}}" style="width:50px; height:33px"></td>
                                <td>{{transfer.fromTeamName}} <img *ngIf="transfer.fromTeamImage" src="{{transfer.fromTeamImage}}" style="width:50px; height:33px"></td>
                                <td>{{transfer.toTeamName}} <img *ngIf="transfer.toTeamImage" src="{{transfer.toTeamImage}}" style="width:50px; height:33px"></td>
                                <td>{{transfer.transferDate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="pagination-area text-center">
                            <pagination-controls id="pagination2" (pageChange)="changeTransferPage(currentTransferPage = $event)"></pagination-controls>
                        </div>
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div> 

        </div>
        
        <!-- TAB PLAYERS -->
        <div class="tab-pane fade" id="player" role="tabpanel">
                    
            <br>
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12 col-md-12">
                        <table class="table" *ngIf="players">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col"><img style="width: 30px; height:30px;" src="https://icon-library.com/images/jersey-icon/jersey-icon-29.jpg"></th>
                                <th scope="col"><img style="width: 30px; height:30px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Soccerball.svg/1024px-Soccerball.svg.png"></th>
                                <th scope="col"><img style="width: 30px; height:30px;" src="https://e1.365dm.com/score-centre/icons/yellow_card.svg"></th>
                                <th scope="col"><img style="width: 20px; height:30px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Red_card.svg/369px-Red_card.svg.png"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let player of players">
                                <td>{{player.name}} <img *ngIf="player.image" src="{{player.image}}" style="width:50px; height:33px"></td>
                                <td style="padding-left: 16px;">{{player.matchesPlayed}}</td>
                                <td style="padding-left: 16px;">{{player.goals}}</td>
                                <td style="padding-left: 16px;">{{player.yellowCards}}</td>
                                <td style="padding-left: 14px;">{{player.redCards}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div> 

        </div>

    </div>
    
</section>
<!-- End Listings Details Area -->
