<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="vesax-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/home"><h3>Fantasy</h3></a>

                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                        <li style="visibility: hidden;" class="nav-item"><a class="nav-link">TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST</a></li>
                        <li style="cursor: pointer;" class="nav-item"><a routerLink="/team-picker" class="nav-link">Team Picker</a></li>
                        <li style="cursor: pointer;" class="nav-item"><a routerLink="/favourite-team-list" class="nav-link">Favourite Teams</a></li>
                        <li *ngIf="hasRole(['Admin'])" style="cursor: pointer;" class="nav-item"><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
                        <li (click)="logout()" style="cursor: pointer;" class="nav-item"><a class="nav-link">Logout</a></li>                        
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
